body{
    font-family: "consolas", mono;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #cfd9db;
}

#requests{

}

.request{
    background: #eee;
    border-radius: 1em;
    box-shadow: 2px 3px #0006;
    margin: 1em;
    transition: 0.3s;
    height: 4em;
}

.check{
    width: 4em;
    height: 4em;
    position: absolute;
    background: #434d4e;
    border-radius: 1em 0em 0em 1em;
    margin: auto;
}

.completed{
    position: absolute;
    top: 1.2em;
    left: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    background: #eee;
    box-shadow: 2px 3px #0006;
    border: none;
    transition: 0.3s;
}

.completed:hover{
    box-shadow: none;
    background: #ccc;
}

.userInfo{
    position: absolute;
    width: 4em;
    height: 4em;
    left: 4em;
    padding: 0em;
    background: #434d4e;
    text-align: center;
}

.bitmoji{
    width:2em;
}

.request:hover{
    box-shadow: 1px 1px #0006;
}

.message{
    padding-left: 7em;
    text-align: left;
    display:inline-block;
    width:80%;
}

.title{
    text-align: center;
    width: 80%;
    background: #ccc;
    color: #434d4e;
    resize: none;
    height: 1.2em;
    border-radius: 0em 0em 1em 0em;
    border: none;
}

.description{
    padding-left: 1em;
    padding-top:0em;
    width: 100%;
    background: #eee;
    resize: none;
    height: 2.2em;
    border: none;
}

#input{
    position: absolute;
    padding: 1em;
    bottom: 0;
    color: #eee;
    background: #434d4e;
    width: 100%;
    box-shadow: 2px -3px #0006;
}

#input #message{
    width: 80%;
}
#login-button button {
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
  }
#text{
    width: 85%;
    display: inline-block;
}

#title{
    width: 100%;
    background: #eee;
    resize: none;
    height: 1.2em;
}

#description{
    width: 100%;
    background: #eee;
    resize: none;
}

#post{
    position: absolute;
    top: 1.2em;
    right: 4em;
    width: 4em;
    height: 4em;
    border-radius: 1em;
    background: #eee;
    box-shadow: 2px 3px #0006;
    border: none;
    transition: 0.3s;
}

#post:hover{
    background: #ccc;
    box-shadow: 1px 1px #0006;
}