body{
    font-family: "consolas", mono;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f3e99a;
}

#requests{
    height: 75%;
    background: #d8ce82;
}

.request{
    background: #eee;
    border-radius: 1em;
    box-shadow: 2px 3px #0003;
    margin: 1em;
    transition: 0.3s;
    height: 4em;
}

.check{
    width: 3.5em;
    height: 4em;
    position: absolute;
    background: #434d4e;
    border-radius: 1em 0em 0em 1em;
    margin: auto;
}

.completed{
    position: absolute;
    top: 1.2em;
    left: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    background-color: #fcfcfc;
    border: none;
}

.userInfo{
    position: absolute;
    width: 4em;
    height: 4em;
    left: 3.5em;
    padding: 0em;
    background: #434d4e;
    text-align: center;
}

.bitmoji{
    width:2em;
}

.request:hover{
    box-shadow: 1px 1px #0003;
}

.completed:hover{
    background-color: #dedede;
}

.message{
    padding-left: 7em;
    text-align: center;
    display:inline-block;
}

.title{
    box-shadow: 0px 1px #0003;
}

#input{
    position: absolute;
    bottom: 0;
    background: #d8ce82;
    width: 100%;
    border-top: 2px solid #918b61;
}

#input #message{
    width: 80%;
}
#login-button button {
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
  }